<!-- <a href="https://ti.to/dinosaurjs/2016" class="notice">
  <div class="valigner">
    <div class="valigner--cell">
      Take 10% off today only with the code WEBSITE
    </div>
  </div>
</a> -->

<header class="top-header clearfix">
  <div class="valigner">
    <div class="valigner--cell">
      <ul class="-left">
        <li>{{#link-to 'seventeen.index'}}Dino JS{{/link-to}}<</li>
        <li>June 24, 2016</li>
        <li>Denver,CO</li>
        <!-- <li><a href="https://ti.to/dinosaurjs/2017" target="_blank" class="flash">Buy Tickets Now!</a></li> -->
        <li>{{dino-countdown}}</li>
      </ul>

      <button {{action 'toggleNav'}} class="menu-btn -right">Menu</button>
    </div>
  </div>
</header>

<nav class="navigation">
  {{nav-bar}}
</nav>

{{close-nav clicked=(route-action "toggleNav") }}

<div class="strip -left-strip"></div>
<div class="strip -right-strip"></div>
<div class="strip -bottom-strip"></div>

<div class="wrap">
  {{liquid-outlet}}
</div>
