<a><div {{action "toggleAccordion" this}} class="presentation-link {{if isOpen 'open' 'closed'}}">Talk: {{if isOpen closeText openText}}</div></a>
<div class="{{if isOpen 'showing' 'hidden'}} accordion presentation-info">
  {{yield}}
</div>
