<section class="schedule">
  <h1 class="-text--center margin-bottom--100">Schedule</h1>

  <div class="contain-width">
      {{#each model as |event|}}
        <div class="row schedule__row">
          <div class="schedule__row-time">
            {{event.time}}
          </div>
          <div class="schedule__row-info">
            {{#if event.isTalk}}
              {{#schedule-accordion closeText='OMG Close This' openText=event.name }}
                {{{event.talkDescription}}}
              {{/schedule-accordion}}
              <a href="/speakers/#{{event.speakerId}}" class="text--light">{{event.speaker}}</a>
            {{else}}
              <h4 class="text--light margin-bottom--0">{{event.name}}</h4>
            {{/if}}
          </div>
        </div>
      <hr />
      {{/each}}
  </div>

</section>
{{outlet}}
