<nav>
  {{nav-bar}}
</nav>

<h3>
  {{dino-countdown}}
</h3>

<button {{action 'toggleNav'}} class="menu-btn">Menu</button>
<div {{action 'toggleNav'}} class="nav-overlay">
  <div class="valigner nav-exit">
    <div class="valigner--cell close-nav">Close</div>
    <div class="credit">
      Credit: Site by <a href="http://wearecirro.com" target="_blank">CIRRO</a>
    </div>
  </div>
</div>


<div class="wrap">
  {{liquid-outlet}}
</div>
