<nav>
  {{nav-bar}}
</nav>

{{!-- button to slide out nav --}}
<button {{action 'toggleNav'}} class="menu-btn">Menu</button>
<div {{action 'toggleNav'}} class="nav-overlay">
  <div class="valigner nav-exit">
    <div class="valigner--cell">Close</div>
    <div class="credit">
      Credit: Site by <a href="http://wearecirro.com" target="_blank">CIRRO</a>
    </div>
  </div>
</div>


<div class="date">
  June 24, 2016
</div>
{{dino-countdown}}

<div class="wrap">
  {{liquid-outlet}}
</div>
