<section>
  <h1>Speakers</h1>
</section>
<section>
  <div class="page-intro">
    Speak at Dinosaur.js

    <s>The Call for Proposals is currently open. It closes on March 14, 2016. Submit early and often!</s>

    Check back soon for posted speakers!
  </div>

  <hr />

</section>

<div class="speakers">
  {{#each model as |speaker|}}
    <section id="{{speaker.linkId}}">
      <div class="speaker-section">
        <div class="speaker-wrapper row">
          <div class="speaker-img-wrapper col--1of3">
            <img src="{{speaker.avatar}}" class="speaker-img" />
            <a href="https://twitter.com/{{speaker.twitter}}" target="blank" class="twitter-handle">Twitter: @{{speaker.twitter}}</a>
            <a href="https://github.com/{{speaker.gitHub}}" target="blank" class="git-name">Github: {{speaker.gitHub}}</a>
          </div>
          <div class="speaker-description col--2of3">
            <h4>{{speaker.name}}</h4>
            {{#each speaker.description as |line|}}
              <p> {{line}} </p>
            {{/each}}
            {{#content-accordion closeText='OMG Close This' openText=speaker.talkName }}
              {{#each speaker.talkDescription as |desc|}}
                <p> {{desc}} </p>
              {{/each}}
            {{/content-accordion}}
          </div>
        </div>
      </div>
      <hr />
    </section>
  {{/each}}
</div>

{{outlet}}
