<section class="about-page">
  <a href="about/#info">Information</a>
  <a href="about/#sponsors">Sponsors</a>
  <a href="about/#location">Conference Deets</a>

  {{camera-stream}}

  <div id="info">
    {{partial "about/conference-info"}}
  </div>

  <div id="location">
    {{partial "about/location"}}
  </div>

  <div id="sponsors">
    {{partial "about/sponsors"}}
  </div>

</section>

{{outlet}}
