<div class="count-me-down">
  <div>{{days}}</div>
  <small>days</small>

  <div>{{hours}}</div>
  <small>hours</small>

  <div>{{minutes}}</div>
  <small>minutes</small>

  <div>{{seconds}}</div>
  <small>seconds</small>
</div>
{{yield}}
