<div class="count-me-down">
  <span>{{days}}</span>
  <span>:</span>

  <span>{{hours}}</span>
  <span>:</span>

  <span>{{minutes}}</span>
  <span>:</span>

  <span>{{seconds}}</span>
</div>
{{yield}}
