<div class="speakers">
  <div class="padding--50 center-text page-title">
    Speakers
  </div>
  <div class="speakers__wrap flex-grid flex--wrap">
    {{#each speakers as |speaker index|}}
      <div class="speaker__card flex-grid flex--column white-border-top half {{if (is-odd index) 'white-border-left'}} {{if speaker.specialClasses speaker.specialClasses}}">
        <div class="padding--50 white-border-bottom flex--center">
          {{#if speaker.picture}}{{computed-inline-styles css="background-image: " value=speaker.picture classNames="speaker__image"}}{{else}}<div></div>{{/if}}
        </div>

        <div class="speaker__card-inner">
          <!-- <div class="flex-grid box flex--wrap flex--align-stretch"> -->
          <div class="speaker__bio-top flex-grid white-border-bottom -full-width">

            <div class="box__1 white-border-right flex-grid flex--column -text--left flex-center-center">
              <h5 class="speaker-name padding--10">{{speaker.name}}</h5>
              {{#if speaker.twitterLink}}<div><a href={{speaker.twitterLink}} target="_blank">Twitter</a></div>{{/if}}
              {{#if speaker.githubLink}}<div><a href={{speaker.githubLink}} target="_blank">Github</a></div>{{/if}}
            </div>


            <div class="box__1">
              <div class="speaker__bio-info -text--left">
                <div class="speaker__type">{{speaker.type}}</div>
              </div>
              {{#if speaker.isKeynote}}
                <div class="speaker__bio-info speaker__bio padding-small">
                  <div>{{speaker.bio}}</div>
                </div>
              {{else}}
                <div class="speaker__bio-info padding-small speaker__talk -text--left">
                  <div>{{{speaker.talkName}}}</div>
                </div>
              {{/if}}
            </div>
          </div>

          <div class="flex-grid speaker__bio-bottom">
            <div class="box__1 white-border-right flex-grid flex--column -text--left">
              <div class="speaker__bio-left speaker__bio padding-small">
                {{speaker.bio}}
              </div>
            </div>


            <div class="box__1">
              <div class="speaker__bio-info -text--left padding-small speaker__abstract">
                <div>{{{speaker.talkAbstract}}}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    {{/each}}

    {{!-- This is filler for odd number of speakers  !--}}
    <div class="speaker__card flex-grid flex--column white-border-top half white-border-left"></div>
  </div>
  {{outlet}}
</div>
