<div class="speakers">
  <div class="padding--50 center-text">
    Speakers
  </div>
  <div class="speakers__wrap flex-grid flex--wrap">
    {{#each speakers as |speaker index|}}
      <div class="speaker__card flex-grid flex--column white-border-top half {{if (is-odd index) 'white-border-left'}} {{if speaker.specialClasses speaker.specialClasses}}">
        <div class="padding--50 white-border-bottom flex--center">
          {{#if speaker.picture}}{{computed-inline-styles css="background-image: " value=speaker.picture classNames="speaker__image"}}{{else}}<div></div>{{/if}}
        </div>
        <div class="flex-grid box__1 flex--wrap flex--align-stretch">
          <div class="half extra-small-text padding--50 white-border-right flex-grid flex--column flex--center">
            <h5>{{speaker.name}}</h5>
            {{#if speaker.twitterLink}}<div><a href={{speaker.twitterLink}} target="_blank">Twitter</a></div>{{/if}}
            {{#if speaker.githubLink}}<div><a href={{speaker.githubLink}} target="_blank">Github</a></div>{{/if}}
          </div>
          <div class="speaker__bio half extra-small-text padding--50 flex--align-center flex--center">{{speaker.bio}}</div>
        </div>
      </div>
    {{/each}}
  </div>
  {{outlet}}
</div>
